<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Engine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="recommendationController.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
      label {
        font-weight: normal !important;
      }
      ol {
        border: 1px solid black;
      }
    </style>
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Where to eat?</h1>
          <br>
            <div ng-app="myApp" ng-controller="MyCtrl">
                <label>User:
                    <select ng-model="selected_user" ng-options="u.first_name for u in user_list" ng-change="update_data()"></select>
                </label>
                <br>
                <div ng-show="selected_user">
                    <div ng-show="user_preferences.length">
                    <label>{{selected_user.first_name}} has tried restaurants: </label> <label ng-repeat="p in user_preferences" >{{p.place_name}}{{$last ? '.' : ($index==user_preferences.length-2) ? ' and&nbsp' : ',&nbsp'}}</label>
                    </div>
                    <div ng-show="!user_preferences.length">
                        <label>{{selected_user.first_name}} has not tried any restaurants in London.</label>
                    </div>
                    <div ng-show="user_friends.length">
                        <label>{{selected_user.first_name}}'s friends are: </label>  <label ng-repeat="p in user_friends">{{p.first_name}}{{$last ? '.' : ($index==user_friends.length-2) ? ' and&nbsp' : ',&nbsp'}}</label>
                    </div>
                    <div ng-show="!user_friends.length">
                        <label>{{selected_user.first_name}} does not have friends among our users.</label>
                    </div>
                    <div ng-show="recommendations.length">
                        <p>{{selected_user.first_name}} should try restaurants: </p>
                        <ol>
                        <li ng-repeat="r in recommendations">{{ r.place_name }}</li>
                        </ol>
                    </div>
                    <div ng-show="!recommendations.length">
                        <p>We do not have recommendations for {{selected_user.first_name}} at the moment!</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
<br><br>

</body>
</html>

<!-- TODO:
    - we need to handle http request errors!
-->

