<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Engine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="recommendationController.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
      label {
        font-weight: normal !important;
      }
      ol {
        border: 1px solid black;
      }
    </style>
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Where to eat?</h1>
          <br>
            <div ng-app="myApp" ng-controller="MyCtrl">
                <label>User:
                    <select ng-model="selected_user" ng-options="u.first_name for u in user_list" ng-change="update_data()"></select>
                </label>
                <br>
                <label>{{selected_user.first_name}} has tried restaurants: </label>  <label ng-repeat="p in user_preferences">{{p.place_name}}</label>
                <br>
                <label>{{selected_user.first_name}}'s friends are: </label>  <label ng-repeat="p in user_friends">{{p.first_name}}</label>

                <p>{{selected_user.first_name}} should try restaurants: </p>
                <ol>
                  <li ng-repeat="r in recommendations">{{ r.place_name }}</li>
                </ol>
            </div>
        </div>
      </div>
    </div>
<br><br>

</body>
</html>

<!-- TODO:
    - diplay strings correctly
    - display data only once user is selected
    - we need to handle http request errors!
-->

